name: Email YouTube popular videos

on:
  pull_request:
    branches:
      - main

jobs:
  email-results:
    runs-on: ubuntu-latest
    timeout-minutes: 2
    env:
      YOUTUBE_API_KEY: ${{ secrets.YOUTUBE_API_KEY }}
      YOUTUBE_USERNAME: ${{ secrets.YOUTUBE_USERNAME }}}
      SENDER_EMAIL: ${{ secrets.SENDER_EMAIL }}
      EMAIL_PASSWORD: ${{ secrets.EMAIL_PASSWORD }}
      RECIPIENT_EMAILS: ${{ secrets.RECIPIENT_EMAILS }}
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup Python 3.13
        uses: actions/setup-python@v6
        with:
          python-version: "3.14"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run main.py
        run: python3 ./main.py
